
/*
     FILE ARCHIVED ON 10:04:29 May 23, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:48:51 Jan 25, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.102
  exclusion.robots.policy: 0.09
  cdx.remote: 0.121
  esindex: 0.011
  LoadShardBlock: 118.387 (6)
  PetaboxLoader3.datanode: 161.094 (8)
  load_resource: 195.479
  PetaboxLoader3.resolve: 93.894
  loaddict: 67.802
*/